/* Styling for the navbar */
.navbar {
    background-color: #10648c;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar a {
    color: #fff;
}
.navbar a:hover {
    color: #e0e0e0;
    text-decoration: underline;
}
.navbar .dropdown-menu{
    background-color: #10648c;
    border: none;
    border-radius: 5px;
}
.navbar .dropdown-menu a:hover{
    text-decoration: none;
    color: #16181b;
}

/*Styling for contact cards*/
.wrapper{
    background-color: #F2F6F9;
}

.contact-cards-wrapper{
    padding: 3em 1em;
}
.contact-cards-wrapper h2{
    display: flex;
    justify-content: center;
    padding: 1em 0;
    font-weight: 700;
    font-style: italic;
}
.contact-card{
    border: 1px solid #F2F6F9; 
    display: flex; 
    margin: 20px 0; 
    border-radius: 1em;
    box-shadow: 5px 5px 5px #7a8184; 
    background-color: #fff;
}
.svg-wrapper{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    float: left; 
    width: 20%;
}
.info-wrapper{
    padding: 10px 0; 
    float: right; 
    width: 80%;
}
.info-wrapper h6{
    font-weight: 700;
}
/*Styling for lower footer*/
footer{
    background-color: #0d0d0d;
}