/* Styling for the navbar */
.navbar {
    background-color: #10648c;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar a {
    color: #fff;
}
.navbar a:hover {
    color: #e0e0e0;
    text-decoration: underline;
}
.navbar .dropdown-menu{
    background-color: #10648c;
    border: none;
    border-radius: 5px;
}
.navbar .dropdown-menu a:hover{
    text-decoration: none;
    color: #16181b;
}